# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Environments
.env
.venv/
env/
venv/
ENV/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
