{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {% if form.instance.pk %}Edit Event{% else %}Create Event{% endif %} - KhEC Event Flow
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h2>{% if form.instance.pk %}Edit Event{% else %}Create New Event{% endif %}</h2>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                {{ form.title|as_crispy_field }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form.category|as_crispy_field }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.location|as_crispy_field }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                {{ form.start_date|as_crispy_field }}
                            </div>
                            <div class="col-md-4 mb-3">
                                {{ form.end_date|as_crispy_field }}
                            </div>
                            <div class="col-md-4 mb-3">
                                {{ form.registration_deadline|as_crispy_field }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form.max_participants|as_crispy_field }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.image|as_crispy_field }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                {{ form.description|as_crispy_field }}
                            </div>
                        </div>
                        
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a href="{% url 'event-list' %}" class="btn btn-outline-secondary me-md-2">Cancel</a>
                            <button type="submit" class="btn btn-primary">
                                {% if form.instance.pk %}Update Event{% else %}Create Event{% endif %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
